/* Moblie CSS */
.alert-info, h1, .nav-links {
    text-align: center;
    font-family: arial;
}

.alert-info>a {
    text-decoration: none;
}

img {
    margin-left: 3%;
}

li {
    list-style: none;
    padding: 3%;
    background-color: lightgrey;
    margin: 3%;
}

ul.nav-links {
    padding-left: 0;
}

.alert-info{
    background-color: lightblue;
    padding: 3%;
    border: 2px solid gray;
    margin: 3%;
}

body>div:first-child a {
    color: #000;
}

h1 {
    font-size: 6em;
    margin-top: 2%;
}

#main, .sub-section, footer {
    font-family: Arial;
    margin-bottom: 10%;
}

.sub-section {
    font-style: italic;
}